
{% extends 'base.html' %}

{% block content %}

    {% for todo in todos.all %}
        <article class="post">
            <time class="date">
                {{ todo.due_date }}
            </time>
            <h1><a href="{% url 'todo_detail' pk=todo.pk %}">{{ todo.task }}</a></h1>
            <p>Tasker: {{ todo.user|linebreaksbr }}</p>
            <div>
                <input type = "checkbox"  class = "largerCheckbox" name = "done">
            </div>
        </article>
    {% endfor %}
{% endblock %}