

{% extends 'base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                <a class='ptn btn-default' href="{% url 'todo_edit' pk=todo.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
            {% endif %}
        </aside>
        {% if todo.due_date %}
            <time class="date">
                {{ todo.due_date }}
            </time>
        {% endif %}
        <h1>{{ todo.task }}</h1>
        <p>Description: {{ todo.details }}</p>
        <p>Tasker: {{ todo.user|linebreaksbr }}</p>
        <p>Done: {{ todo.done|linebreaksbr }}</p>
    </article>
{% endblock %}