



{% load static %}
<!DOCTYPE html>
<html>
    
    <head>
        <title>ToDone!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        
        
        <!-- <style>
 ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 25%;
background-color: #db973f;
height: 100%;
position: fixed;
  overflow: auto;

}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-family:'Courier New', Courier, monospace;
  font-size: 20pt
}
li a.active {
  background-color: #0e4631;
  color: white;
}

li a:hover {
  background-color: #0e4631;
  color: white;
}

/* main {
    margin: 0;
    padding: 200;
    background-color: #116e57;
} */


</style> -->
</head>


<div class="big_box">

    <nav class="sticky">
        <div class="list-inline">
            <div class="sticky1">{% if user.is_authenticated %}
                <h1><a class="logo" href="/">From ToDo to ToDone!</a></h1>
                {% endif %}
                {% if not user.is_authenticated %}
                <h1><a class="logo" href="/home">From ToDo to ToDone!</a></h1>
                {% endif %}</div>

            <div class="sticky2">{% if user.is_authenticated %}
                <a href="{% url 'todo_new' %}">new task
                {% include './main/icons/plus.svg' %}</a>
                {% endif %}</div>

            <div class="sticky3">{% if user.is_authenticated %}
                <a href='/accounts/logout'>logout
                {% include './main/icons/arrow-left.svg' %}</a>
                {% endif %}
                {% if not user.is_authenticated %}
                <a href='/accounts/login'>login{% include './main/icons/arrow-right.svg' %}</a>
                {% endif %}</div>
        </div>
    </nav>


<div class="big_middle_box">
    <div class="column1">
    <div class="left_sidebar"> 
                
                
                    <div class="pic"><img src="{% static 'images/taskimage.jpeg' %}" alt="image"></div>
                
                
                    <div class="link">{% if user.is_authenticated %}
                        <a href="{% url 'todo_user' %}">
                        {{ request.user }}'s tasks</a>
                        {% endif %}
                        {% if not user.is_authenticated %}
                        <a href='/accounts/login'>login{% include './main/icons/arrow-right.svg' %}</a>
                        {% endif %}</div>
                
                
                    <div class="link">{% if user.is_authenticated %}
                        <a href="{% url 'todo_date' %}">tasks by date</a>
                        {% endif %}</div>
                
                
                    <div class="link">{% if user.is_authenticated %}
                        <a href="{% url 'todo_users' %}">tasks by user</a>
                        {% endif %}</div>
                
                
                    <div class="link">{% if user.is_authenticated %}
                        <a href="{% url 'todo_done' %}">tasks by done</a>
                        {% endif %}</div>
                
                </div>
                </div>
    <div class="column2">      
    <div class="right_body">
        <main>
        {% block content %}
        {% endblock %}
        </main>
    </div>
    </div>
</div>
<!-- <div class="big_bottom">footer maybe</div> -->
</div>





</html>